*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    color: white;
    font-family: montserrat;
}
body{
    overflow-x: hidden;
}
#page1{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: url(./photo-1568206222579-3d32da70596b.avif);
    background-position: center;
    background-size: cover;
    /* padding-top: 120px; */
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: yellowgreen; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* z-index: 9999; */
}
#nav1{
    height: 42%;
    width: 10%;
    /* background-color: sandybrown; */
    text-transform: capitalize;
    font-weight: 550;
}
#nav2{
    height: 60%;
    width: 30%;
    /* background-color: sandybrown; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav2 h4{
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    /* transition: all ease 0.6s; */
}
#nav2 h4:hover{
    font-size: 19px;
    border-bottom: 2px solid white;
}
#nav3 button{
    padding: 9px 20px;
    font-size:17px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: all ease 0.6s;
}
#nav3 button:hover{
    background-color: rgb(248, 146, 110);
    border: none;
    border-radius: 5px;
}
#box{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: linear-gradient( transparent,black);
    padding: 100px 90px;
}
#box>h1{
    font-size: 6.5vh;
}
#box>p{
    font-size: 2.7vh;
    width: 41%;
    /* background-color: burlywood; */
    margin-top: 32px;
}
#box button{
    padding: 13px 18px;
    margin-top: 30px;
    font-size: 15px;
    background-color: rgb(248, 96, 40);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    /* transition: all ease 0.6s; */
}
#box button:hover{
    background-color: transparent;
    border: 2px solid black;
    font-size: 17px;
}
#page2{
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 100px 100px;

}
#box2{
    height: 55vh;
    width: 100%;
    /* background-color: yellow; */
    margin-top: 55px;
    position: relative;
   white-space: nowrap;
   overflow-x: auto;
   overflow-y: hidden;
}
#box2::-webkit-scrollbar{
    display: none;
}
.elem{
    display: inline-block;
    margin-right: 40px;
    height: 100%;
    width: 20%;
    background-color: red;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 6px;
    
}
.elem img{
    height: 100%;
    width: 100%;
    transition: all ease 0.6s;
}
.elem:hover img{
    scale: 1.1;
}
.elem h4{
    position: absolute;
    bottom: 27%;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 14px;
    left: 10%;
    white-space: break-spaces;
    opacity: 0;
    transition: all ease 0.6s;
}
.elem:hover h4{
    opacity: 1;
}
.elem h5{
    position: absolute;
    bottom: 8%;
    font-weight: 600;
    font-size: 20px;
    left: 10%;
    white-space: break-spaces;
    opacity: 0;
    transition: all ease 0.6s;
}
.elem:hover h5{
    opacity: 1;
}
#page3{
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 100px 100px;
    position: relative;
}
#page3>h2{
    position: absolute;
    margin-left: 28%;
    /* left: 36%; */
    text-align: center;
    font-size: 35px;
}
#box3{
    height: 35vh;
    width: 60vw;
    /* background-color: purple; */
    position: absolute;
    /* top: 40%; */
    /* left: 17%; */
    margin-left: 10%;
    margin-top: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#b1{
    height: 100%;
    width: 30%;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;
}
#b1 h1{
    font-size: 24px;
    text-transform: capitalize;
    color: rgb(248, 96, 40);
    
}
#b1 p{
    font-size: 12px;
    color: rgb(180, 180, 180);
    margin-top: 20px;
    text-align: left;
    line-height: 20px;
}
#b2{
    height: 100%;
    width: 30%;
    background-color:rgb(26, 26, 26) ;
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;
}
#b2 h1{
    font-size: 24px;
    text-transform: capitalize;
    color: rgb(248, 96, 40);
}
#b2 p{
    font-size: 12px;
    color: rgb(180, 180, 180);
    margin-top: 20px;
    text-align: left;
    line-height: 20px;
}

#b3{
    height: 100%;
    width: 30%;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    padding: 30px 30px;
    text-align: center;
}
#b3 h1{
    font-size: 24px;
    text-transform: capitalize;
    color: rgb(248, 96, 40);
    
}
#b3 p{
    font-size: 12px;
    color: rgb(180, 180, 180);
    margin-top: 20px;
    text-align: left;
    line-height: 20px;
}
#page4{
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 50px 60px;
    position: relative;
}
#box4{
    height: 70vh;
    width: 80vw;
    background-color: rgb(26, 26, 26);
}
#b4{
    height: 40%;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#b4 h1{
    text-transform: capitalize;
}
#b4 p{
    line-height: 25px;
}
#box5{
    height: 60vh;
    width: 65vw;
    background-color: seagreen;
    margin-left: 8%;
}
#box5 img{
    height: 100%;
    width: 100%;
}
#box5 i{
    font-size: 50px;
    position: absolute;
    bottom: 40%;
    right: 48%;
}
#page5{
    height: 100vh;
    width: 100vw;
    background-color: black;

    position: relative;
}
#page5>h1{
    margin-left: 80px;
    padding-top: 60px;
}
#page5>button{
    padding: 13px 18px;
   position: absolute;
   right: 70px;
   top: 69px;
    font-size: 15px;
    background-color: rgb(248, 96, 40);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
#box6{
    height: 65%;
    width: 90%;
    /* background-color: cadetblue; */
    margin-left: 50px;
    margin-top: 40px;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#box6::-webkit-scrollbar{
    display: none;
}

.card{
    height: 90%;
    width: 25%;
    /* background-color: tomato; */
    display:inline-block ;
    margin-right: 40px;
    overflow: hidden;
}
.card:hover img{
    scale: 1.1;
}
.card img{
    height: 80%;
    width: 100%;
    transition: all ease 0.5s;
}
/* .c2{
    height: 25%;
    width: 100%;
    background-color: powderblue;
    padding: 10px 10px;
    
} */
.card h1{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
    
}
.card h3{
    color:rgb(248, 96, 40) ;
}
#page6{
    height: 100vh;
    width: 100vw;
    background-color: black;

    position: relative;
}
#box7{
    height: 80vh;
    width: 80vw;
    background-color:rgb(26, 26, 26) ;
   position: absolute;
   top: 10%;
   left: 10%;
   padding: 50px 50px;
}
.line{
    height: 20%;
    width: 90%;
    /* background-color: yellow; */
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.l1{
    height: 100%;
    width: 20%;
    /* background-color: yellowgreen; */
    padding: 10px 20px;
}
.l2{
    height: 100%;
    width: 50%;
    /* background-color: pink; */
    padding: 10px 20px;
}
.l2 h3{
    font-weight: 400;
}
.l3{
    height: 100%;
    width: 20%;
    /* background-color: rgb(148, 148, 226); */
    color:rgb(248, 96, 40) ;
    
    text-transform: capitalize;
    padding: 20px 28px;
}
.l3 h4{
    font-weight: 300;
}
.l3 h4:hover{
    scale: 1.1;
}
#box7 button{
    padding: 13px 18px;
    margin-top: 30px;
     font-size: 15px;
     background-color: rgb(248, 96, 40);
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: 600;
     cursor: pointer;
     text-transform: capitalize;
}
#page7{
    height: 50vh;
    width: 100vw;
    background-color: black;
    position: relative;

}
#box8{
    height: 40vh;
    width: 80vw;
    /* background-color: yellowgreen; */
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#a1{
    height: 70%;
    width: 20%;
    /* background-color: violet; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
 
}
#a1 h2{
    font-size: 17px;
}

#a2{
    height: 90%;
    width: 20%;
    /* background-color: rgb(149, 80, 227); */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
#a2 h4{
    font-weight: 400;
    font-size: 13px;
}
#a2 h2{
    font-size: 17px;
}
#a3{
    height: 90%;
    width: 20%;
    /* background-color: violet; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
#a3 h4{
    font-weight: 400;
    font-size: 13px;
}
#a3 h2{
    font-size: 17px;
}
#a4{
    height: 90%;
    width: 20%;
    /* background-color: rgb(149, 80, 227); */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
#a4 h4{
    font-weight: 400;
    font-size: 13px;
}
#a4 h2{
    font-size: 17px;
}
#a5{
    height: 90%;
    width: 20%;
    /* background-color: violet; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
#a5 h4{
    font-weight: 400;
    font-size: 13px;
}
#a5 h2{
    font-size: 17px;
}

